*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body{
        background-color: rosybrown;
}

.container {
        display: grid;
        place-items: center;
        height: 100vh;
        width: 100vw;
}

.calculator{
        background-color: whitesmoke;
        padding:20px;
        height: auto;
        width: auto;
        border-radius: 10px;
        box-shadow: 0 0 30px black;
}

#display{
        height: 200px;
        width: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 30px;
        margin-bottom: 50px;
        
}

button{
        height: 60px;
        width: 60px;
        border: 0;
        margin:5px;
        font-size: 20px;
        cursor: pointer;
        color: black;
}

button#equal{
        height: 130px;
        background-color: darkgray;
        color: whitesmoke;
}

.calculator button#clear{
        background-color: orangered;
        color: whitesmoke;
}

.calculator button.btn-operator{
        background-color: black;
        color: whitesmoke;
}

.calculator button.btn-number {
        background-color: black;
        color: whitesmoke;
}