*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body{
        background-color: purple;
}

.container {
        display: grid;
        place-items: center;
        height: 100vh;
        width: 100vw;
}

.calculator{
        background-color: whitesmoke;
        padding:20px;
        height: auto;
        width: auto;
        border-radius: 10px;
        box-shadow: 0 0 30px black;
}

.buttons{
        
}